@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:regular,bold,italic');

body {
    margin: 0;
    background: #3A3A3A;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.App {
    margin: 0 auto;
    width: 50%;
}

.list {
    margin-bottom: 50px;
}
.list .starship {
    margin: 20px 0;
    padding: 30px 40px;
    width: 100%;
    table-layout: fixed;
}
.list .starship:nth-of-type(even) {
    background: #FFFFFF;
}
.list .starship:nth-of-type(odd) {
    color: #FFFFFF;
}
.list .starship .heading {
    width: 30%;
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
}

progress {
    height: 20px;
    -webkit-appearance: none;
}
progress::-webkit-progress-value {
    color: #A11C3A;
    background: #A11C3A;
}

footer {
    padding: 40px;
    background: #000;
    border-top: 1px solid #A11C3A;
}

footer button {
    padding: 15px 25px;
    font-size: 1.15em;
    border: unset;
    color: #FFFFFF;
    cursor: pointer;
}
footer button.btn-next {
    float: right;
    background: #7EB54B;
}
footer button.btn-prev {
    background: #F9B31B;
}
footer button:disabled {
    background: #757575;
    cursor: not-allowed;
}